##### [IDE] ############################################################################################################
/.idea/
##### [NODE] ###########################################################################################################
node_modules/
package-lock.json
##### [DEVELOPMENT] ####################################################################################################
admin/assets/development/css/*
admin/assets/development/js/*
assets/development/css/*
assets/development/js/*
##### [GITKEEP] ########################################################################################################
!**/**/.gitkeep