##### [IDE] ############################################################################################################
/.idea/
##### [GULP] ###########################################################################################################
/gulp/cache/*
!/gulp/cache/.gitkeep
##### [NODE] ###########################################################################################################
node_modules/
package-lock.json
