##### [IDE] ############################################################################################################
/.idea/
##### [NODE] ###########################################################################################################
node_modules/
package-lock.json
##### [DEVELOPMENT] ####################################################################################################
admin/assets/development/css/compiled/*
admin/assets/development/js/compiled/*
assets/development/css/compiled/*
assets/development/js/compiled/*
##### [GITKEEP] ########################################################################################################
!**/**/.gitkeep