
$font-name: system-test;
$font-version: 1655327330;
$font-prefix: icon-font-system-test;

$font-glyphs: (
    book: "\EA61",
    books: "\EA62",
    bullhorn: "\EA63",
    connection: "\EA64",
    file-picture: "\EA65",
    file-text2: "\EA66",
    headphones: "\EA67",
    home: "\EA68",
    image: "\EA69",
    office: "\EA6A",
    paint-format: "\EA6B",
    pencil2: "\EA6C",
    podcast: "\EA6D",
);

// EOF
