*,
::before,
::after {
    box-sizing: border-box;
    background-repeat: no-repeat;
    text-decoration: inherit;
    vertical-align: inherit;
}

html {
    font-family: 'Arial', sans-serif
}

body {
    background: #F1F2F3;
    color: #444444;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0 30px;
    width: 100%;
    max-width: 1920px;
}

.iconsPreview__top {
    padding: 20px 0;
    border-bottom: 2px solid #ddd;
    font-size: clamp(20px, 2.083vw, 40px);
}

.iconsPreview {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: clamp(10px, 1.042vw, 20px);
}

.iconsPreview__item {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    background: #DDD;
    border-radius: 10px;
    font-size: clamp(12px, 1.875vw, 32px);
    border: 1px solid #878787;
    color: inherit;
    letter-spacing: inherit;
    padding: 0.25em 0.375em;
    cursor: pointer;
}

.iconsPreview__item:hover {
    background: #CCC;
}

.notification {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 80px);
    border-radius: 10px;
    background: #40cb94;
    color: #FFF;
    font-weight: 600;
    height: 50px;
    padding: 0 20px;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.notification.-active {
    transform: translate(-50%, 0);
    opacity: 1;
}