@font-face {
    font-family: "test2";
    src: url('../../../../../public/icon-font/test2/test2.eot?ts=1654883919');
    src: url('../../../../../public/icon-font/test2/test2.eot?ts=1654883919#iefix') format('eot'),
    url('../../../../../public/icon-font/test2/test2.woff2?ts=1654883919') format('woff2'),
    url('../../../../../public/icon-font/test2/test2.woff?ts=1654883919') format('woff'),
    url('../../../../../public/icon-font/test2/test2.ttf?ts=1654883919') format('truetype'),
    url('../../../../../public/icon-font/test2/test2.svg?ts=1654883919#test2') format('svg');
}

[class^="icon-font-test2-"]::before, [class*=" icon-font-test2-"]::before {
    font-family: "test2";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    speak: none;
    text-decoration: none;
    text-transform: none;
}

.icon-font-test2-home3::before {
    content: "\EA01";
}
.icon-font-test2-newspaper::before {
    content: "\EA02";
}
.icon-font-test2-office::before {
    content: "\EA03";
}
