@font-face {
    font-family: "test1";
    src: url('../../../../../public/icon-font/test1/test1.eot?ts=1654883919');
    src: url('../../../../../public/icon-font/test1/test1.eot?ts=1654883919#iefix') format('eot'),
    url('../../../../../public/icon-font/test1/test1.woff2?ts=1654883919') format('woff2'),
    url('../../../../../public/icon-font/test1/test1.woff?ts=1654883919') format('woff'),
    url('../../../../../public/icon-font/test1/test1.ttf?ts=1654883919') format('truetype'),
    url('../../../../../public/icon-font/test1/test1.svg?ts=1654883919#test1') format('svg');
}

[class^="icon-font-test1-"]::before, [class*=" icon-font-test1-"]::before {
    font-family: "test1";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    speak: none;
    text-decoration: none;
    text-transform: none;
}

.icon-font-test1-home::before {
    content: "\EA01";
}
.icon-font-test1-home2::before {
    content: "\EA02";
}
