

// #####################################################################################################################
// COLORS
// #####################################################################################################################

$color-primary: #FFFFFF;
$color-secondary: #FFFFFF;

// #####################################################################################################################
// FONT WEIGHTS
// #####################################################################################################################

$font-w-black: 900;
$font-w-extra-bold: 800;
$font-w-bold: 700;
$font-w-semi-bold: 600;
$font-w-medium: 500;
$font-w-regular: 400;
$font-w-book: 300;
$font-w-light: 200;
$font-w-thin: 100;

// EOF
